<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TreatApp">
    <test name = "TreatTest">
    <classes>
        <class name = "tests.GetStartedTest"/>
<!--        <class name = "tests.CreateAccountTest"/>-->
<!--        <class name = "tests.SignInTest"/>-->
<!--        <class name = "tests.ContinueAsGuestTest"/>-->
<!--        <methods>-->
<!--            <include></include>-->
<!--            <exclude></exclude>-->
<!--        </methods>-->
    </classes>
    </test>
    <listeners>
        <listener class-name = "utilities.ExtentReports"/>
    </listeners>
</suite>
